body, html {
	height: 100%;
  }
  

#bg-img {
	background: url(plantbg2.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
	opacity: 0.7;
}

.landing-text {
	z-index: 10;
    position: absolute;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;

}

.btn-default {
	color:white;
	background-color:#BB8644;
	margin-top: 40px;
	}

.landing-text h1 { 
	font-size: 550%;
	font-weight: 700;
	opacity: 1;

}

.navbar {
	opacity: 1;
}

.navbar-light .navbar-nav .nav-link {
	color: black;
}


.wrapper {
	width: 80%;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.6);
	overflow: hidden;
}

.spinner-grow {
	display: none;
}


/* adapted from https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=table-with-add-and-delete-row-feature */ 
.table-wrapper {
	width: 98%;
	margin: 10px 10px 0px 10px;
	background: #fff;
	padding: 0px;	
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
	padding-bottom: 10px;
}

.table-title h2 {
	margin: 6px 0 0;
	font-size: 22px;
}
.table-title .add-new {
	float: right;
	height: 40px;
	min-width: 100px;
	color: white;
	background-color:#BB8644;
	border: none;
	margin-bottom: 6px;
	margin-top: 6px;
}

table.table {
	table-layout: fixed;
	margin: 0px;
}

table {
	overflow-y: scroll;
	border: none;
	max-height: 380px;
}

/* tbody {
	overflow-y: scroll;
} */

thead th {
	position: sticky;
	top: 0; 
	background-color: 	#F0F0F0;
}

.table thead th {
	border-top: 0px;
	border-bottom: 0px;
}

.table th {
	font-size: 16px;
	text-align: left;
	font-weight: 400;
}

table.table th i {
	font-size: 20px;
	margin: 0 5px;
	cursor: pointer;
}
table.table th:last-child {
	width: 160px;
}
table.table td a {
	cursor: pointer;
	display: inline-block;
	margin: 0 5px;
	min-width: 24px;
}    
table.table td i {
	font-size: 19px;
}
table.table td a.add i {
	font-size: 24px;
	margin-right: -1px;
	position: relative;
	top: 3px;
}    
table.table .form-control {
	height: 32px;
	line-height: 32px;
	box-shadow: none;
	/* border-radius: 2px; */
}
table.table .form-control.error {
	border-color: #f50000;
}
table.table td .add {
	display: none;
}


#table-scroll {
	height: 400px;
	overflow-y: scroll;
}

#action-buttons {
	width: 100px;
}
/* date and time pickers */
#datepicker {
	width: 146px;
}

#timepicker {
	width: 146px;
}

.alert {
	text-align: center;
	margin-bottom: 0px;
}

#error-message {
	display: none;
}

#added-message {
	display: none;
}

#deleted-message {
	display: none;
}

table.table td .cancel {
	display: none;
}

#modal-btn {
	color: white;
}
@media (max-width: 768px) {
	.landing-text h1{
		font-size: 400%;
	}
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	.wrapper {
		width: 100%;
		height: calc(100vh - 88px);
		bottom: 0px;
		left: 0;
		transform: translate(0);
		top: 88px;
	}
 #table-scroll { 
		height: 100%;
		overflow-y: hidden;
	} 

	table {
		max-height: none;
		height: calc(100vh - 180px);
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}


	td:nth-of-type(6) {
		display: table;
		height: 48px;
	}

	.delete {
		padding-left: 20px;
		padding-top: 13px;
	} 

	.add {
		padding-left: 20px;
		padding-top: 13px;
	}

	.cancel {
		padding-top: 13px;
	}
	
	/* Hide table headers */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50% !important; 
	}
	
	/* behave like table headers */
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		font-weight: 500;
		padding-top: 5px;
		padding-left: 5px;
	}
	
	/* label the headers */
	td:nth-of-type(1):before { content: "Plant"; }
	td:nth-of-type(2):before { content: "Water frequency"; }
	td:nth-of-type(3):before { content: "Start Date"; }
	td:nth-of-type(4):before { content: "Reminder Time"; }
	td:nth-of-type(5):before { content: "Comments"; }


}