{% extends "layout.html" %}
{% block content %}

    <!-- Navigation-->
    <!-- nav bar from https://getbootstrap.com/docs/4.0/components/navbar/ -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3">
        <a class="navbar-brand" href="#">Happy Plants</a>
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link nav-top" href="/login">Logout</a>
            </div>
      </nav>

<div class="wrapper">
   <!-- https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=table-with-add-and-delete-row-feature -->
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Welcome!</b></h2></div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-default add-new"><i class="fa fa-plus"></i> Add New</button>
                    </div>
                </div>
            </div>
        <div class="table-responsive"> 
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>Plant Name</th>
                        <th>Watering Freqency</th>
                        <th>Reminder Start Date</th>
                        <th>Reminder Time</th>
                        <th>Comments</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- loop through users plants to display in table -->
                    {% for plant in user_plants_info %}
                    <tr>
                        <td>{{ plant.plant }}</td>
                        <td>{{ plant.frequency }}</td>
                        <td>{{ plant.date }}</td>
                        <td>{{ plant.time }}</td>
                        <td>{{ plant.comments }}</td>
                        <td>
							<a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                            <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a class="delete" title="Delete" data-toggle="tooltip" data-plant="{{ plant.plant }}"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}

