{% extends "layout.html" %}
{% block content %}
<h1>hoem page!</h1>
<p id="homepage-error">test</p>
<button id='newplant'>Add new plant</button>


<!-- these scripts will all move to new file, just testing now -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

// Get the current user email from flask
const CURRENT_USER = "{{user_email}}"


let plant = "{{user_plants_info}}"


// hardcoding example input to test
$('#newplant').click(function () {
    console.log("adding cat");
    let plantName = 'cat';
    let comments = "direct sunlight";
    let interval = 'weeks';
    let frequency = 2;
    // format of time will be from jquery datetime picker
    let start_date = '30-05-2020 18:00:00'

    // send post request
    $.post("/new_plant", {email: CURRENT_USER, plant_name: plantName, comments: comments, interval: interval, frequency: frequency, start_date: start_date}, function(error){
        if (error == 'unique constraint') {
            $('#homepage-error').html("Plant already exists")
        }
    });
});


</script>
{% endblock %}


