{% extends "layout.html" %}
{% block content %}

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">

        <a class="navbar-brand" href="">Happy Plants</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/login">Logout</a></li>

            </ul>
        </div>
    </div>
</nav>

<div class="wrapper">
    <!-- https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=table-with-add-and-delete-row-feature -->
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                   <span id="homepage-error"></span>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary add-new"><i class="fa fa-plus"></i> Add New</button>
                </div>
            </div>
        </div>
        <div class="m-0 p-0" id="table-scroll">
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>Plant Name</th>
                        <th>Watering Freqency</th>
                        <th>Start Date</th>
                        <th>Reminder Time</th>
                        <th>Comments</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- loop through users plants to display in table -->
                    {% for plant in user_plants_info %}
                    <tr>
                        <td>{{ plant.plant }}</td>
                        <td>{{ plant.frequency }}</td>
                        <td>{{ plant.date }}</td>
                        <td>{{ plant.time }}</td>
                        <td>{{ plant.comments }}</td>
                        <td>
                            <div class="spinner-border spinner-border-sm text-warning" role="status">
                                <span class="sr-only" style="height: 30px">Loading...</span>
                            </div>
                            <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                            <a class="delete" title="Delete" data-toggle="tooltip" data-plant="{{ plant.plant }}"><i
                                    class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



{% endblock %}