{% extends "layout.html" %}
{% block content %}
    
<div class="container">
    <div class="landing-text">
        <h1>Happy Plants</h1>
        <h5>Enter a new or existing email</h5>
        <div class="form-label-group">
          <input type="email" id="newuser" class="form-control" placeholder="New email" required autofocus>
          <label for="inputEmail"></label>
        </div> 
        <div class="form-label-group">
            <input type="email" id="existinguser" class="form-control" placeholder="Existing email" required autofocus>
            <label for="inputEmail"></label>
          </div> 
         
        <a href="#" class="btn btn-default btn-lg" id="go" data-target="/home.html">Go</a>
    </div>
</div>

{% endblock %}
